streamlit
python-dotenv
google-generativeai
pillow
pandas
edge-tts
mutagen
pydantic
huggingface_hub
requests
razorpay
opencv-python
numpy
psutil
cryptography
redis
celery
stripe
paypalrestsdk
pyotp
qrcode